{{ form_start(form) }}
<div class="card">
    <div class="card-header">{{ title }}</div>
    <div class="card-body">
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.level) }}
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a href="{{ path("skill_manage") }}" class="btn btn-secondary">Retour</a>
        <button class="btn btn-primary">{{ action }}</button>
    </div>
</div>
{{ form_end(form) }}